
.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0px;
    padding: 0px;
}
.CarreOrange {
    text-align: center;
    background-color: orangered;
    font-weight: normal;
    font-size: 100px;
}

.black {
    background-color: black;
    padding-top: 40px;
}
.boutonPlacer {

    background-color: orangered;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;


}

.BoutonInitialiser {

    background-color: orangered;
    border: black;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;


}

.buttonselect {

    background-color: orangered;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}

.liste {

    display: inline-block;
}


