.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0px;
    padding: 0px;
}


.yellow {

    position: absolute;
    margin-top: -5px;
    width: 100%;
    padding: 0 0 0 0;
    background: orange;

}

.textCenter {

    text-align: center;
    font-weight: 2900;
}
.black {
    position: absolute;
    margin-top: -200px
    width: 100%;
    padding: 0 0 0 0;
    background: black;
    text-align: center;

}
