.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #E8E6E6;
    margin: 0px;
    padding: 0px;
}
.CarreOrange {
    text-align: center;
    background-color: orangered;
    font-weight: normal;
    font-size: 100px;
}

.black {
    background-color: black;
    padding-top: 40px;
    text-align: center;
    height: 75px;

}


.liste {

    display: inline-block;



}


